body {
	font-family: arial;
}

body nav{
	background: #999;
	//display:inline;
	//margin: 0;
	padding: 10px 10px;
}
body nav ul{
	margin:0;
	displa:inline;
}
body nav ul li{
	background: #999;
	display: inline-block;
	list-style-type: none;
}