body {
	font-family: arial;
	padding: 0;
	margin: 0;
	background: black;
}

/* Navigational bar css for all pages */
.NavigationBar{
	display: inline;
	background: #999;
}

.NavigationBar h1{
	margin: 0;
	background: #999;
	padding: 10px 20px;
	text-align: center;
}
.NavigationBar ul{
	margin: 0;
	padding: 10px 10px;
	background: #999;
	text-align: center;
}
.NavigationBar ul li{
	display: inline;
	background: #999;
	padding: 10px 20px;
	text-align: center;
}

/* Dynamic scaling floating */
.DynamicArranging{
}
.DynamicArranging ul{
	align: center;
}
.DynamicArranging ul li{
	background: #999;
	padding: 1% 1% 1% 1%; /*10px 10px 10px 10px;*/
	margin: 1% 1% 1% 1%;
	align: center;
	float: left;
	list-style-type: none;
	
	max-width: 500px;
	/*
	max-height: 66%;
	min-width: 25%;
	*/
	
	position: relative;
	display: block;
	overflow: auto;
}
.DynamicArranging ul li .BlockText{
	padding: 5px 5px 5px 5px;
	text-align: left;
}

/* Centered vertical stack allignment */
.CenteredStack{
}
.CenteredStack ul{
	align: center;
	padding: 0;
}
.CenteredStack ul li{
	background: #999;
	/*padding: 1% 1% 1% 1%; 10px 10px 10px 10px;*/
	margin: 1% 1% 1% 1%;
	align: center;
	list-style-type: none;
	display: block;

}
.CenteredStack ul li .BlockText{
	padding: 5px 5px 5px 5px;
	text-align: left;
}

/* Static grid 2 by 2 across */
.GridLayout{
	
}
.GridLayout ul{
	padding: 0;
	max-width: 40%;
	min-width: 25%;
}
.GridLayout ul li{
	background: #999;
	margin: 1% 1% 1% 1%;
	align: center;
	list-style-type: none;
	display: block;
	max-width: 40%;
	min-width: 40;
}
.CenteredStack ul li .BlockText{
		padding: 5px 5px 5px 5px;
	text-align: left;
}

/* Single Col in Center of screen vert*/
.SingleCenteredGroup{}
.SingleCenteredGroup ul {
	position:fixed;
	top: 25%;
	left: 25%;
	background: #999;
	list-style-type: none;
	padding: 5px 5px 5px 5px;
}
.SingleCenteredGroup ul li {
	padding: 5px 5px 5px 5px;
}